.contenedor{
    display: flex;
    flex-direction: row;
}

.rectangulo{
    width: 600px;
    height: 710px;
    font-size: 0.8rem;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formu {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-size: x-large;
    width: 900px;;
    height:710px;
}
.extra{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    align-items: flex-end;

}
.estilo{
    border-radius: 0.3rem;
    stroke: #8ed885;
    border-color: #8BD640;
    background-color: #E8F2D7;
    margin: 5px 0 30px 0
}

.buttonIni{
    background-color: #ECD55A;
    border: none;
    padding: 1rem 0.7rem;
    transition: 0.2s background-color ease-out;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 0.5rem;
}

.selectores {
    padding: 0.5rem;
    max-width: 30rem;
    width: 20rem;
}