.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  color: rgb(0, 0, 0);
  background-color:#54B97C;
  border: none;
  padding: 1rem 0.5rem;
  transition: 0.2s background-color ease-out;
  font-weight: bold;
  border-radius: 0.3rem;
  max-width: 15rem;
}

input:not([type="radio"]) {
  border: 1px solid #ccc;
  box-shadow: 1px 1px #014656;
  padding: 1rem 0.5rem;
  width: 15rem;
}


button:hover {
  cursor: pointer;
  background-color: #0d5f40;
}
